<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <strong>
          Related Links
        </strong>

        <ul class="menu">
          <li>
            <i class="fab fa-github"></i>
            <a href="{{ site.github.repository_url }}">View on GitHub</a>
          </li>
          <li>
            <i class="fas fa-user-edit"></i>
            <a href="{{ site.github.owner_url }}">Maintained by {{ site.github.owner_name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
