<section class="hero is-success is-fullheight">
  <div class="hero-head">
    {% include navbar.html %}
  </div>

  {% if page.url == '/' %}
  <div class="hero-body has-text-centered">
    <div class="container">
      <p>
        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
      </p>
      <h1 class="title is-1">
        {{ site.title | default: site.github.repository_name }}
      </h1>
      <h2 class="subtitle">
        {{ site.description | default: site.github.project_tagline }}
      </h2>
    </div>
  </div>
  {% endif %}

</section>
